.App {
  padding: 50px;
}

.M-top {
  margin-top: 50px;
}

.stats-m-top {
  margin-top: 10px;
}

.stats-m-top p {
  margin-bottom: 0;
}

.cont {
  min-height: 500px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.h-100 {
  height: 100%;
}

.h-90 {
  height: 90%;
}

.stat-light-grey {
  background-color: #f1f1f1;
}

.stat-purple {
  text-align: center;
  color: #fff;
  background-color: #9b4dca;
}